<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>URL</key>
	<dict>
	    <key>SverigesRadio</key>
	    <dict>
		<key>URLPatterns</key>
		<array>
		    <string>http://sverigesradio.se/topsy/direkt/(.*)\.mp3</string>
		    <string>http://sverigesradio.se/topsy/ljudfil/(.*).m4a</string>
		</array>
		<key>TestURLs</key>
		<array>
		    <string>http://sverigesradio.se/topsy/ljudfil/4701761.m4a</string>
		    <string>http://sverigesradio.se/topsy/direkt/132.mp3</string>
		    <string>http://sverigesradio.se/topsy/direkt/164.mp3</string>
	    </array>
	</dict>
    </dict>
</dict>
</plist>
